
<tr>
    <td><%= produto.rotulo%></td>
    <td><%= produto.pais%></td>
    <td><%= produto.departamento.nome%></td>
    <td><%= produto.uva%></td>
    <td><%= produto.preco%></td>
    <td><%= produto.nota%></td>
    <td><%= produto.observacao%></td>
    <td><%= link_to "Alterar", edit_produto_path(produto), class:"btn btn-default" %></td>
    <td><%= button_to "Remover", produto, method: :delete, class:"btn btn-danger",
        data: {confirm: "Tem certeza que deseja deletar este produto #{produto.rotulo} ?"} %></td>
    
</tr>   
